@use '@angular/material' as mat;

@include mat.core();

$meu-app-primary: mat.m2-define-palette(mat.$m2-deep-purple-palette);
$meu-app-accent: mat.m2-define-palette(mat.$m2-purple-palette, A200, A100, A400);

$meu-app-theme: mat.m2-define-light-theme((
  color: (
    primary: $meu-app-primary,
    accent: $meu-app-accent,
  )
));

@include mat.all-component-themes($meu-app-theme);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card {
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 8px;

  &:hover {
    // Efeito sutil de elevação com uma sombra padrão do Material.
    box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
  }
}
